.card {
  padding: 1em;
}

.image {
  height: 290px;
  width: 290px;
}

.ui.card:first-child {
  margin-top: auto !important;
}

.image > img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ui.card > .image:not(.ui) > img {
  height: 100%;
}

button {
  cursor: pointer;
}

.something, .ui.card [class*="right floated"] {
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
}

.ui.card > .content > .header {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px !important;
}

.something:hover > i.icon.plus {
  color: black;
}

.something:focus {
  outline: 0;
}
