.image > img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ui.card > .image:not(.ui) > img {
  height: 100%;
}

.image {
  height: 290px;
  width: 290px;
}
