.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  border-bottom: 1px solid grey
}

.child {
  height: 150px;
  display: flex;
  align-items: center;
  width: 50%;
}

img {
  width: 130px;
  height: 110px;
}