.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  border-bottom: 1px solid lightgrey;
}

.row-section {
  justify-content: center;
  height: 150px;
  display: flex;
  align-items: center;
  width: 50%;
}

img {
  width: 130px;
  height: 110px;
}

#title-div {
  justify-content: left
}

input[type = "button"] {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: grey;
  padding: 1em;
}

input[type = "button"]:hover {
  color: black;
}

input[type = "button"]:focus {outline:0;}

/* .ui.card:first-child , .row:not(:first-child) {
  /* margin-top: ; */
  /* margin: 0px !important; 
  padding: 0px !important  */
  /* margin: 0px */
  /* needs unsetting to fix bug */
/* } */ 

/* .ui.card:first-child {
  margin-top: 0em;
} */
